<!DOCTYPE html>
<html>
<head>
  <title>Claim Portal</title>
</head>
<body>
  <h1>Claim: <%= claim.name %></h1>
  <h2>Items</h2>
  <ul>
    <% claimItems.forEach(item => { %>
      <li><%= item.description %> - <%= item.status %></li>
    <% }) %>
  </ul>
</body>
</html>
